body {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify; 
    background-color: rgb(252, 249, 213);
}

h1 {
    font-size: 250%;
    text-decoration: underline;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

h2 {
    font-size: 150%;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

h3 {
    font-size: 130%;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

h4 {
    font-size: 120%;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

h5 {
    font-size: 110%;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

.no-break {page-break-before: avoid;} /* for epubs */

div.chapter {page-break-before: always; margin-top: 4em;}

hr {width: 80%; margin-top: 2em; margin-bottom: 2em;}

p {
    text-indent: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em; 
    font-family: "Times New Roman", Times, serif;
}

p.poem {
    text-indent: 0%;
    margin-left: 10%;
    font-size: 100%;
    margin-top: 1em;
    margin-bottom: 1em; 
    font-family: "Satisfy", cursive;
}

p.letter {
    text-indent: 0%;
    margin-top: 1.5em;
    margin-left: 10%;
    margin-right: 10%; 
}

p.letter2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em; 
}

p.right {
    text-align: right;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em; 
}

p.left {
    text-align: left;
    margin-left: 20%;
    margin-top: 1em;
    margin-bottom: 1em; 
}

p.noindent {text-indent: 0% }

p.center  {
    text-align: center;
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 1em; 
}

p.footnote {
    font-size: 90%;
    text-indent: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em; 
}

sup { vertical-align: top; font-size: 0.6em; }

div.fig { 
    display:block;
    margin:0 auto;
    text-align:center;
    margin-top: 1em;
    margin-bottom: 1em;
}

img { 
    border: 1px solid gray;
    border-radius: 1em;
}

a:link {color:blue; text-decoration:none}
a:visited {color:red; text-decoration:none}
a:hover {text-decoration: underline;}
a {
    font-family: "Times New Roman", Times, serif;
    font-size: 120%;
    font-style: italic;
}